
{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-12">
    <h1 class="page-header">Mon profil</h1>
</div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Timeline : Mise à jour.
        </div>
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
        <div>
            <a href="{{ path('fos_user_profile_edit') }}"><p>Editer mon profil</p></a>
        </div>
        <div>
            <a href="{{ path('fos_user_change_password') }}"><p>Modifier mon mot de passe</p></a>
        </div>
        <div>
            <a  class="text-danger" href="{{ path('fos_user_security_logout') }}"><p>Déconnexion</p></a>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Nos derniers Tweets
            <a class="twitter-timeline" href="https://twitter.com/Incomesport" data-widget-id="595587840249110528">Tweets de @Incomesport</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Les Réseaux Sociaux de Reborn
        </div>
        <div class="panel-body rs">
            <h5>Suivez-nous pour garder l'actualité de Reborn !</h5><hr>
            <a href="https://www.facebook.com/pages/Incom-Esport/407886206038411"><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="fa fa-facebook"></i>
                </button></a>
            <a href="https://twitter.com/Incomesport"><button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-twitter"></i>
                </button></a>
            <button type="button" class="btn btn-warning btn-circle btn-lg"><i class="fa fa-twitch"></i>
            </button>
        </div>
    </div>
</div>



