{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/forum.css') }}">
     <style type="text/css">
         body {
             background: url('{{ asset('images/homepage/fond.jpg') }}') no-repeat top center #000000;
             color: #798896
         }
     </style>
 {% endblock %}
{% block body %}
    <header>
    </header>
    <div id="content">
        <div class="content-separator-title">
            <p>
                Forum Index
            </p>
        </div>
        <div class="section-forum">
            <div class="forum-category">
                <p>
                    Public
                </p>
            </div>
            {% for headTopic in headTopics %}
            <div class="row-category">
                <div class="row-category-title">
                  <a href="{{ path('website_topic', {'id': headTopic.id }) }}"> {{ headTopic.titre }}</a>
                    <div><small>{{ headTopic.alttitre }}</small></div>
                </div>
                <div class="row-category-topics">
                    <div>
                        <span>{{ countTopics }}</span><br>
                        <small>Sujet(s)</small>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
    </footer>
{% endblock %}