{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/forum.css') }}">
     <style type="text/css">
         .main {
             background: url('{{ asset('images/homepage/fond.jpg') }}') no-repeat top center #000000;
             color: #798896
         }
     </style>
 {% endblock %}
{% block body %}
    <header>
    </header>
    <div id="content">
        <img class="left-horn" src="{{ asset('images/homepage/left-horn.png') }}" alt="">
        <img class="right-horn" src="{{ asset('images/homepage/right-horn.png') }}" alt="">
        <div class="content-separator-title white-link">
            <ol class="breadcrumb">
                <li><a href="{{ path('website_forum') }}">Forum Index</a></li>
                <li class="active">{{ headTopic.titre}}</li>
            </ol>
        </div>
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="add-new-topic white-link">
            <a href="{{ path('website_topic_add', {'id' : headTopic.id }) }}"><p>+ Nouveau Sujet</p></a>
        </div>
        {% endif %}
        <div class="section-forum">
            <div class="forum-category">
                <p>
                    Annonce
                </p>
            </div>
            {% for topic in topics if topic.state == 'annonce' %}
                <div class="row-category">
                    <div class="row-category-title">
                        <a href=" {{ path('website_view_topic', {'id' : topic.id})  }}">
                        {{ topic.titre }}
                            <div>
                                <small>posted by {{ topic.sujetUserLink.userName }}, {{ topic.createdat|time_diff }}</small>
                            </div>
                        </a>
                    </div>
                    <div class="row-category-posts">
                        <div>
                            <span>{{ topic.nbReply|default(0) }}</span><br>
                            <small>Réponse(s)</small>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <div class="forum-category">
                <p>
                    Sujets
                </p>
            </div>
            {% for topic in topics if topic.state == 'normal' %}
                <div class="row-category">
                    <div class="row-category-title">
                        <a href=" {{ path('website_view_topic', {'id' : topic.id})  }}">
                            {{ topic.titre }}
                            <div>
                                <small>posted by {{ topic.sujetUserLink.userName }}, {{ topic.createdat|time_diff }}</small>
                            </div>
                        </a>
                    </div>
                    <div class="row-category-posts">
                        <div>
                            <span>{{ topic.nbReply|default(0) }}</span><br>
                            <small>Réponse(s)</small>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
    </footer>
{% endblock %}