{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/forum.css') }}">
     <style type="text/css">
         body {
             background: url('{{ asset('images/homepage/fond.jpg') }}') no-repeat top center #000000;
             color: #798896
         }
     </style>
 {% endblock %}
{% block body %}
    <header>
    </header>
    <div id="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-separator-title">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('website_forum') }}">Forum Index</a></li>
                        <li><a href="{{ path('website_topic', { 'id' : topic.headtopiclink.id }) }}">{{ topic.headtopiclink.titre }}</a></li>
                        <li><a href=""></a>{{ sujet.titre}}</li>
                    </ol>
                </div>
                <h4 class="head-titre-add-sujet">{{ sujet.titre }}</h4>
                <div class="add-new-topic white-link">
                    <a href="{{ path('website_reply_add', {'id' : sujet.id})  }}"><p>+ Post Reply</p></a>
                </div>
                <div class="col-lg-12 border-content-sujet">
                    <div class="col-lg-2 col-left-content-sujet">
                        <h4>{{ app.user.userName }}</h4>
                        <small>Site Admin</small>
                        <img src=" {{ image('images/products/'~ app.user.imageName).forceResize(200,200) }}" class="img-circle avatar-sujet" alt="">
                        <small>joined : </small>
                    </div>
                    <div class="col-lg-10">
                        <div class="head-content-sujet">
                            <span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</span>{{ sujet.createdat|time_diff }}
                        </div>
                        <hr>
                        <div class="main-content-sujet">
                            {{ sujet.content }}
                        </div>
                    </div>
                </div>
                {% for replys in reply %}
                    <div class="col-lg-12 border-content-sujet">
                        <div class="col-lg-2 col-left-content-sujet">
                            <h4>{{ app.user.userName }}</h4>
                            <small>Site Admin</small>
                            <img src=" {{ image('images/products/'~ app.user.imageName).forceResize(200,200) }}" class="img-circle avatar-sujet" alt="">
                            <small>joined : </small>
                        </div>
                        <div class="col-lg-10">
                            <div class="head-content-sujet">
                                <span class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</span>{{ replys.postedat|time_diff }}
                            </div>
                            <hr>
                            <div class="main-content-sujet">
                                {{ replys.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
    </footer>
{% endblock %}