{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <style type="text/css">
            body {
                background: url('{{ asset('images/homepage/fond.jpg') }}') no-repeat top center #000000;
                color: #798896
            }
        </style>
    {% endblock %}
{% block body %}
    <header>
    </header>
    <div id="content">
        <img class="left-horn" src="{{ asset('images/homepage/left-horn.png') }}" alt="">
        <img class="right-horn" src="{{ asset('images/homepage/right-horn.png') }}" alt="">
        <img class="illidan-eyes" src="{{ asset('images/homepage/illidan-eyes.png') }}" alt="">
        <div class="banner">
            <div class="banner-content">
                <h2>
                    A propos du recrutement <br><br>
                </h2>
                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> En savoir plus</a>
            </div>
        </div>
        <div class="content-separator-title">
            <p class="left">
                L'ACTUALITÉ CHEZ MÉTEMPSYCOSE
            </p>
            <p class="right">
                RECRUTEMENT
            </p>
        </div>
        <div class="section-primary-left">
            <div class="section primary-news">
                <h2>Nous recrutons pour Légion</h2>
            </div>
        </div>
        <div class="section-primary-right">
            <div class="section-primary-recrutement">
                <table width="100%" border="0">
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/dk/deathknight.png') }}" alt="">
                            <span>Deathknight</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/dk/deathknight_blood.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/dk/deathknight_frost.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/dk/deathknight_unholy.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/druid/druid.png') }}" alt="">
                            <span>Druid</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/druid/druid_balance.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/druid/druid_feral.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/druid/druid_guardian.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/druid/druid_restoration.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/mage/mage.png') }}" alt="">
                            <span>Mage</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/mage/mage_arcane.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/mage/mage_fire.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/mage/mage_frost.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/monk/monk.png') }}" alt="">
                            <span>Monk</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/monk/monk_brewmaster.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/monk/monk_mistweaver.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/monk/monk_windwalker.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/paladin/paladin.png') }}" alt="">
                            <span>Paladin</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/paladin/paladin_holy.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/paladin/paladin_protection.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/paladin/paladin_retribution.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/priest/priest.png') }}" alt="">
                            <span>Priest</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/priest/priest_discipline.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/priest/priest_holy.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/priest/priest_shadow.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/rogue/rogue.png') }}" alt="">
                            <span>Rogue</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/rogue/rogue_assassination.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/rogue/rogue_combat.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/rogue/rogue_subtlety.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/shaman/shaman.png') }}" alt="">
                            <span>Shaman</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/shaman/shaman_elemental.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/shaman/shaman_enhancement.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/shaman/shaman_restoration.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/warlock/warlock.png') }}" alt="">
                            <span>Warlock</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/warlock/warlock_affliction.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warlock/warlock_demonology.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warlock/warlock_destruction.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/warrior/warrior.png') }}" alt="">
                            <span>Warrior</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/warrior/warrior_arms.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warrior/warrior_fury.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warrior/warrior_protection.png') }}" alt="">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer>

    </footer>
{% endblock %}
{% block javascripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script type="text/javascript">
        var tlrepeatEyes = new TimelineMax({delay: 3, repeat: -1, repeatDelay: 1, yoyo:true});
        tlrepeatEyes
                .fromTo('.illidan-eyes',.7, {opacity:0}, {opacity:0.9})
    </script>
{% endblock %}