{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <style type="text/css">
            .main {
                background: url('{{ asset('images/homepage/fond.jpg') }}') no-repeat top center #000000;
                color: #798896
            }
        </style>
    {% endblock %}
{% block body %}
    <header>
    </header>
    <div id="content">
        <img class="left-horn" src="{{ asset('images/homepage/left-horn.png') }}" alt="">
        <img class="right-horn" src="{{ asset('images/homepage/right-horn.png') }}" alt="">
        <img class="illidan-eyes" src="{{ asset('images/homepage/illidan-eyes.png') }}" alt="">
        <div class="banner">
            <div class="banner-content">
                <h2>
                    A propos du recrutement lol <br><br>
                </h2>
                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> En savoir plus</a>
            </div>
        </div>
        <div class="content-separator-title">
            <p class="left">
                L'ACTUALITÉ CHEZ REBORN
            </p>
            <p class="right">
                RECRUTEMENT
            </p>
        </div>
        <div class="section-primary-left">
            <div class="section primary-news">
                <h2>Nous recrutons pour Légion</h2>
                <hr>
                <p class="paragraph-homepage">Bonjour à tous ! Rebòrn,</p>
                <p class="paragraph-homepage">guilde à vocation HL, ouvre ses portes à tout joueurs souhaitant participé à l'avancée d'une guilde, d'un groupe. Votre investissement sera votre premier atout pour nous rejoindre. Créée fin d'extension Warlords Of Draenor, nous avons pu acquir au sein de divers groupe/guilde des expériences différentes sans pour autant accéder à ce que nous souhaitions réelement.</p>
                <p class="paragraph-homepage">Nous avons donc décidé de mettre en place pour légion notre propre structure avec nos règles et nos ambitions communes à savoir le clean du contenu proposé par Blizzard pour l'exténsion prochaine, à savoir, LEGION.</p>
            </div>
        </div>
        <div class="section-primary-right">
            <div class="section-primary-recrutement">
                <table width="100%" border="0">
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/dk/deathknight.png') }}" alt="">
                            <span>Deathknight</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/dk/deathknight_blood.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/dk/deathknight_frost.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/dk/deathknight_unholy.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/druid/druid.png') }}" alt="">
                            <span>Druid</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/druid/druid_balance.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/druid/druid_feral.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/druid/druid_guardian.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/druid/druid_restoration.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/mage/mage.png') }}" alt="">
                            <span>Mage</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/mage/mage_arcane.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/mage/mage_fire.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/mage/mage_frost.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/monk/monk.png') }}" alt="">
                            <span>Monk</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/monk/monk_brewmaster.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/monk/monk_mistweaver.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/monk/monk_windwalker.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/paladin/paladin.png') }}" alt="">
                            <span>Paladin</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/paladin/paladin_holy.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/paladin/paladin_protection.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/paladin/paladin_retribution.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/priest/priest.png') }}" alt="">
                            <span>Priest</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/priest/priest_discipline.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/priest/priest_holy.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/priest/priest_shadow.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/rogue/rogue.png') }}" alt="">
                            <span>Rogue</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/rogue/rogue_assassination.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/rogue/rogue_combat.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/rogue/rogue_subtlety.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/shaman/shaman.png') }}" alt="">
                            <span>Shaman</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/shaman/shaman_elemental.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/shaman/shaman_enhancement.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/shaman/shaman_restoration.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/warlock/warlock.png') }}" alt="">
                            <span>Warlock</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/warlock/warlock_affliction.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warlock/warlock_demonology.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warlock/warlock_destruction.png') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td width="20" class="class">
                            <img src="{{ asset('images/recrutement/warrior/warrior.png') }}" alt="">
                            <span>Warrior</span>
                        </td>
                        <td width="80" class="speciality">
                            <img src="{{ asset('images/recrutement/warrior/warrior_arms.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warrior/warrior_fury.png') }}" alt="">
                            <img src="{{ asset('images/recrutement/warrior/warrior_protection.png') }}" alt="">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="secondary-section-discord">
                <iframe src="https://discordapp.com/widget?id=184722639783329793&theme=dark" width="235" height="300" allowtransparency="true" frameborder="0"></iframe>
            </div>
            {#<div class="secondary-section-wowprogress">#}
                {#<a href=http://wowprogress.com/><img alt='WoW Guild Rankings' src='http://wowprogress.com/guild_img/11/out/type.site/guild_rank.realm' border='0'/></a>#}
            {#</div>#}
        </div>
    </div>

    <footer>

    </footer>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://discord.deliriousdrunkards.com/discord.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script type="text/javascript">
        var tlrepeatEyes = new TimelineMax({delay: 3, repeat: -1, repeatDelay: 1, yoyo:true});
        tlrepeatEyes
                .fromTo('.illidan-eyes',.7, {opacity:0}, {opacity:0.9});

        discordWidget.init({
            serverId: '51143782082543616',
            title: 'Discord Widget Title',
            join: false,
            alphabetical: false,
            theme: 'dark',
            hideChannels: ['Channel Name 1', 'Channel Name 2'],
            showAllUsers: true,
            allUsersDefaultState: true
        });
        discordWidget.render();
    </script>
{% endblock %}